/* variables */

/* Colors */
$primary-color: #0d6efd;
$secondary-color: #333;
$text-color: #333;
$white: #fff;
$black: #000;
$bg-dark: #202020;
$border-color-light: rgba(0, 0, 0, 0.1);
$border-color-dark: #303030;

/* Fonts */
$font-base: 'Roboto Condensed', sans-serif;
$line-height: 1.75;

/* Spacing */
$spacing-unit: 1em;

/* Breakpoints */
$breakpoint-sm: 576px;

/* Sizes */
$container-width: 1200px;
$container-small: 900px;
$container-big-max: 1500px;
$container-big-min: 1200px;